<h1>{{page.header}}</h1>
<div class="contentContainer">
	<div class="col80">{{page.about}}</div>
	<div class="col20 right-align bold">
		{{page.location.street}}<br>
		{{page.location.city}}, {{page.location.state}} {{page.location.zip}}
	</div>
</div>